.site-box {
	background-size: cover;
	background-image: url(https://meowbyte.nekoweb.org/hoshiai.space/assets/siteboxbg2.png);
}

.site-box a * {
	visibility: hidden;
}

.post-box {
	background-color: #fff2cc;
	border: 4px solid #ecbfa6;
	padding: 15px;
	border-radius: 5px;
	color: #634c53;
	font-weight: normal;
}

.post-box .post-title {
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 0px;
}
