figure,
details {
	margin: 0;
	display: flex;
	flex-direction: column;
	border: var(--accent-border);

	& figcaption {
		background: var(--accent-color-main);
		color: var(--accent-color-text);
		margin: 0;
		border: none;
		padding: var(--spacing-xs);
	}

	& > a:has(figcaption) {
		display: flex;
		flex-direction: column;
		flex: 1;
	}

	& > a:has(figcaption) figcaption {
		flex: 1;
		display: flex;
		align-items: center;
	}

	& a:hover {
		color: var(--accent-color-text);
		background: var(--accent-color-main);
	}

	& img {
		object-fit: contain;
	}

	p {
		margin: var(--spacing-xs);
	}

	a:not(:has(figcaption)) {
		text-decoration: none;
		padding: var(--spacing-xs);

		&:hover {
			text-decoration: underline;
			background: var(--accent-color-main);
		}
	}
}
