radio-group {
	display: flex;
	justify-content: center;
	text-align: inherit;

	&[horizontal] {
		flex-direction: row;

		& > * {
			border: none;
		}
		& > *:not(:last-child) {
			border-right: var(--accent-border);
		}
	}

	&[vertical] {
		flex-direction: column;

		& > *:not(:last-child) {
			/* border-bottom: var(--accent-border); */
		}
	}

	& label {
		padding: var(--spacing-sm);
		cursor: pointer;
		background: var(--container-color);
		flex: 1;
		border-bottom: var(--accent-border);

		&:has(input:checked),
		&:hover,
		&:active {
			background-color: var(--accent-color);
			color: var(--accent-color-text);
		}
	}
}
