header {
	padding-left: var(--spacing-md);
	padding-right: var(--spacing-md);
	padding-bottom: var(--spacing-sm);
	font-size: var(--header-font-size);
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	& > label {
		display: flex;

		& img {
			height: var(--icon-img-height);
		}
	}
}
