header {
	padding-left: var(--spacing-md);
	padding-right: var(--spacing-md);
	padding-bottom: var(--spacing-sm);
	font-size: var(--header-font-size);
	font-weight: bold;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	& > label {
		display: flex;

		& img {
			height: var(--icon-img-height);
		}
	}

	@media (width <=600px) {
		font-size: 6ch;
		padding: var(--spacing-sm);

		& > label {
			pointer-events: auto;
			cursor: pointer;
			opacity: 1;
			& img {
				height: 3rem;
			}
		}
	}

	@media (width > 600px) {
		& > label {
			pointer-events: none;
			cursor: default;
		}
	}
}
