flag {
	display: inline-block;
	height: 2em;
	aspect-ratio: 14/9;
}

flag.agender {
	background: linear-gradient(
		black 0 14.28%,
		silver 0 28.57%,
		white 0 42.85%,
		#a3fa73 0 57.14%,
		white 0 71.42%,
		silver 0 85.71%,
		black 0
	);
}

flag.asexual {
	background: linear-gradient(black 25%, darkgray 0 50%, white 0 75%, #a50089 0);
}

flag.aromantic {
	background: linear-gradient(#0a2 20%, #7d6 0 40%, white 0 60%, darkgray 0 80%, black 0);
}
