:root {
	scrollbar-gutter: stable both-edges;
}

body {
	background: var(--background-color);
	margin: 0;
	overflow-x: hidden;

	display: flex;
	flex-direction: row;
	justify-content: center;
}

page {
	position: relative;
	background: var(--container-color);
	border: var(--accent-border);

	width: 100%;
	max-width: var(--page-width);
	min-height: 100lvh;

	display: flex;
	flex-direction: column;
}

a {
	color: var(--accent-color);
	text-decoration: underline;
}

button {
	color: var(--accent-color-text);
	background-color: var(--accent-color);
	padding: var(--spacing-xs);
	cursor: pointer;
	border: var(--accent-border);

	&:hover {
		background-color: var(--accent-color-text);
		color: var(--accent-color);
	}
}

span[tooltip] {
	cursor: help;
	text-decoration: underline dotted;
}

body *[tooltip] {
	position: relative;
	display: inline-block;

	&[no-decoration] {
		text-decoration: none;
	}

	&::after {
		content: attr(tooltip);
		position: absolute;
		bottom: 100%;
		left: 50%;
		transform: translateX(-50%);
		background-color: var(--accent-color);
		color: var(--accent-color-text);
		padding: 0.3em 0.6em;
		border-radius: 0.25em;
		white-space: pre-line;
		width: max-content;
		max-width: 250px;
		overflow-wrap: break-word;
		text-align: center;
		font-size: 0.8em;
		opacity: 0;
		pointer-events: none;
		transition: opacity var(--transition-fast);
		z-index: 10;
	}

	&:hover::after,
	&:hover::before {
		opacity: 1;
		pointer-events: auto;
	}
}

layout {
	display: flex;
	flex-direction: row;
	padding: 0;
	flex: 1;

	& > * {
		padding: var(--spacing-sm);
		flex: 1;
	}

	& > aside {
		width: var(--sidebar-width);
		flex: 0 0 var(--sidebar-width);
		display: flex;
		flex-direction: column;
		gap: var(--spacing-sm);
		border-right: var(--accent-border);
	}
}

section {
	padding-bottom: var(--spacing-sm);

	&:not(:last-child) {
		border-bottom: var(--accent-border);
	}
}

h1 {
	margin: 0;
	padding: 0;
	/* padding-bottom: var(--spacing-sm); */
}

p {
	margin-top: var(--spacing-sm);
	margin-bottom: var(--spacing-sm);
}

.button {
	text-decoration: none;
	width: 88px;
	height: 31px;
	img {
		width: inherit;
	}
}

textarea,
textarea:focus-visible {
	border: var(--accent-border);
	color: var(--accent-color);
	resize: none;
	outline: none;
}

ul {
	margin: 0;
}

img {
	width: 100%;
}
