:root {
  /* Colors */
  --background-color: #cdc8b0;
  --container-color: #dad4bb;
  --accent-color: #4e4b42;
  --deselected-color: #b4af9a;
  --text: white;

  --border: 2px solid var(--accent-color);
  --border2: 2px solid var(--deselected-color);

  /* Transitions */
  --transition-extra-fast: 100ms ease-in-out;
  --transition-fast: 150ms ease-in-out;
  --transition-medium: 300ms ease-in-out;
  --transition-slow: 500ms ease-in-out;

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  /* Sizes */
  --max-content-size: 800px;
  --border-radius: 4px;
}

body {
  margin: 0px auto;
  height: calc(100vh - 20px);
  display: flex;
  overflow: hidden;
  user-select: none;
  width: 100vw;
  max-width: var(--max-content-size);
  justify-content: center;
  background-color: var(--background-color);
  border-right: var(--border2);
  border-bottom: var(--border2);
}

body::after {
  body {
    background-color: var(--main-bg-color);
    -webkit-background-size: 0.3rem 0.3rem;
    -moz-background-size: 0.3rem 0.3rem;
    background-size: 0.3rem 0.3rem;
    background-image:
      linear-gradient(
        to right,
        var(--bg-grid-color) 1px,
        var(--bg-grid-2-color) 1px
      ),
      linear-gradient(
        to bottom,
        var(--bg-grid-color) 1px,
        var(--bg-grid-2-color) 1px
      );
  }
}

nav {
  width: 200px;
  min-width: 140px;
  max-width: 240px;
  background-color: var(--container-color);
  border-right: var(--border);
  border-right: var(--border);
}

main {
  flex: 1;
  background-color: var(--container-color);

  header {
    padding: var(--spacing-xs);
    padding-bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 30px;
    border-bottom: var(--border);
    position: relative;
  }
}

tab {
  display: inline-block;
  padding: var(--spacing-xs) var(--spacing-md);
  margin-right: var(--spacing-sm);
  background-color: var(--deselected-color);
  width: 100px;
  height: 18px;
  transition: background-color var(--transition-fast);
  transition: height var(--transition-extra-fast);

  &[selected],
  &:hover {
    background-color: var(--accent-color);
    color: var(--container-color);
    height: 30px;
  }
}

desktop {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

desktop-icon {
  position: absolute;
  width: 72px;
  padding: var(--spacing-sm);
  background: #1a1a1a;
  color: white;
  border: var(--border);
  border-radius: var(--border-radius);
  text-align: center;
  cursor: grab;
  user-select: none;
  pointer-events: auto;

  &:active {
    cursor: grabbing;
  }
}
