:root {
  /* Colors */
  --background-color: #cdc8b0;
  --container-color: #dad4bb;
  --accent-color: #4e4b42;
  --deselected-color: #b4af9a;
  --text: white;

  --border: 2px solid var(--accent-color);
  --border2: 2px solid var(--deselected-color);

  /* Transitions */
  --transition-extra-fast: 100ms ease-in-out;
  --transition-fast: 150ms ease-in-out;
  --transition-medium: 300ms ease-in-out;
  --transition-slow: 500ms ease-in-out;

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  /* Sizes */
  --max-content-size: 800px;
}

body {
  margin: 0;
  height: 100vh;

  /* display: flex; */
  position: relative;
  background-color: var(--background-color);

  overflow: hidden;

  font-family: helvetica, sans-serif;
  letter-spacing: 0.03rem;
  font-weight: lighter;
}

body::before {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1000;

  background: radial-gradient(
    circle at center,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.25) 98%,
    rgba(0, 0, 0, 0.45) 100%
  );
}

body::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 900;

  background-size: 0.3rem 0.3rem;
  background-image:
    linear-gradient(to right, rgba(0, 0, 0, 0.03) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.03) 1px, transparent 1px);
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  width: 200px;
  min-width: 200px;
  max-width: 400px;

  background-color: var(--container-color);
  border-right: var(--border);
}

main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 201px;
  background-color: var(--container-color);

  header {
    padding: var(--spacing-xs);
    padding-bottom: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 30px;
    border-bottom: var(--border);
    position: relative;
  }
}

resize-handle {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 200px;

  width: 4px;
  cursor: ew-resize;
  z-index: 10;
}

tab {
  display: inline-block;
  padding: var(--spacing-xs) var(--spacing-md);
  margin-right: var(--spacing-sm);
  background-color: var(--deselected-color);
  width: 100px;
  /* clip-path: polygon(0.6rem 0%, calc(100% - 0.6rem) 0%, 100% 100%, 0% 100%); */
  height: 18px;
  transition: background-color var(--transition-fast);
  transition: height var(--transition-extra-fast);

  &[selected],
  &:hover {
    background-color: var(--accent-color);
    color: var(--container-color);
    height: 30px;
  }
}

desktop {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

desktop-icon {
  position: absolute;
  width: 72px;
  height: 72px;
  display: flex;
  align-items: center;
  padding: var(--spacing-sm);
  background: var(--accent-color);
  color: white;
  text-align: center;
  cursor: grab;
  user-select: none;
  pointer-events: auto;

  &:active {
    cursor: grabbing;
  }
}
