:root {
	/* Colors */
	--accent-color: black;
	--accent-color-default: black;
	--accent-color-home: black;
	--accent-color-about: #ff5584;
	--accent-color-skills: #ffa361;
	--accent-color-favorites: #fddd70;
	--accent-color-cats: #a4d25e;
	--accent-color-resources: #2ca6d6;
	--accent-color-contact: #7f76c7;

	--accent-filter-default: brightness(0) saturate(100%);
	--accent-filter-home: brightness(0) saturate(100%);
	--accent-filter-about: brightness(0) saturate(100%) invert(49%) sepia(76%) saturate(2533%) hue-rotate(313deg)
		brightness(102%) contrast(104%);
	--accent-filter-skills: brightness(0) saturate(100%) invert(79%) sepia(14%) saturate(2325%) hue-rotate(321deg)
		brightness(100%) contrast(101%);
	--accent-filter-favorites: brightness(0) saturate(100%) invert(95%) sepia(80%) saturate(847%) hue-rotate(321deg)
		brightness(102%) contrast(98%);
	--accent-filter-cats: brightness(0) saturate(100%) invert(83%) sepia(35%) saturate(614%) hue-rotate(32deg)
		brightness(90%) contrast(92%);
	--accent-filter-resources: brightness(0) saturate(100%) invert(83%) sepia(36%) saturate(6678%) hue-rotate(164deg)
		brightness(87%) contrast(93%);
	--accent-filter-contact: brightness(0) saturate(100%) invert(62%) sepia(6%) saturate(3878%) hue-rotate(206deg)
		brightness(79%) contrast(97%);
	--accent-filter-white: brightness(0) invert(1);
	--accent-filter: var(--accent-filter-default);

	--accent-color-text: white;
	--background-color: lightgray;
	--container-color: white;

	/* Borders */
	--border-width: 1px;
	--accent-border: var(--accent-color) var(--border-width) solid;

	/* Transitions */
	--transition-fast: 150ms ease-in-out;
	--transition-medium: 300ms ease-in-out;
	--transition-slow: 500ms ease-in-out;

	/* Spacing */
	--spacing-xs: 0.25rem;
	--spacing-sm: 0.5rem;
	--spacing-md: 1rem;
	--spacing-lg: 2rem;
	--spacing-xl: 4rem;

	/* Sizes */
	--header-font-size: 6ch;
	--icon-img-height: 5rem;
	/* Have to hard-code this to make it match nav unless i want to use js lol */
	--sidebar-width: 202px;
	--page-width: 666px;

	/* The dark mode is fucking stupid as shit */
	/* @media (prefers-color-scheme: dark) {
		--accent-color: white;
		--accent-color-default: white;
		--accent-color-home: white;
		--accent-filter-default: brightness(0) invert(1);
		--accent-filter-home: brightness(0) invert(1);
		--accent-color-text: black;
		--background-color: black;
		--container-color: black;
	} */

	--banner-text: "";

	--banner-text-home: "Welcome to my little site!";
	--banner-text-about: "A little about me";
	--banner-text-skills: "Some stuff I do";
	--banner-text-favorites: "Some of my favourite things";
	--banner-text-cats: "Meow meow meow I love my cat";
	--banner-text-resources: "Cool ahh stuff";
	--banner-text-contact: "Let's get in touch!";
	--banner-text-nojs: "Javascript-free mode";
	--banner-text-changelog: "Changelog";
}

body[page="home"] {
	--banner-text: var(--banner-text-home);
	--accent-color: var(--accent-color-home);
	--accent-filter: var(--accent-filter-home);
}

body[page="projects"] {
	--banner-text: var(--banner-text-about);
	--accent-color: var(--accent-color-about);
	--accent-filter: var(--accent-filter-about);
}

body[page="skills"] {
	--banner-text: var(--banner-text-skills);
	--accent-color: var(--accent-color-skills);
	--accent-filter: var(--accent-filter-skills);
}

body[page="favorites"] {
	--banner-text: var(--banner-text-favorites);
	--accent-color: var(--accent-color-favorites);
	--accent-filter: var(--accent-filter-favorites);
}

body[page="cats"] {
	--banner-text: var(--banner-text-cats);
	--accent-color: var(--accent-color-cats);
	--accent-filter: var(--accent-filter-cats);
}

body[page="resources"] {
	--banner-text: var(--banner-text-resources);
	--accent-color: var(--accent-color-resources);
	--accent-filter: var(--accent-filter-resources);
}

body[page="contact"] {
	--banner-text: var(--banner-text-contact);
	--accent-color: var(--accent-color-contact);
	--accent-filter: var(--accent-filter-contact);
}

body[page="no-js"] {
	--banner-text: var(--banner-text-nojs);
	--accent-color: var(--accent-color-default);
	--accent-filter: var(--accent-filter-default);
}

body[page="changelog"] {
	--banner-text: var(--banner-text-changelog);
	--accent-color: var(--accent-color-default);
	--accent-filter: var(--accent-filter-default);
}

body {
	--accent-border: var(--accent-color) var(--border-width) solid;
}
